<div class="row">
  <div class="small-6 small-centered columns">
    <p><strong>Source URL: </strong><%= @link.source %></p>
    <p><strong>Comment: </strong><%= @link.comment %></p>
    <p><strong>Twitter: </strong><%= @link.twitter %></p>
    <!-- TODO: replace click-to-tweet etc buttons with social logos using @link.title -->
  </div>
</div>
