// main {
//   background-color: #1BBC9B;
// }
//
// h1 {
//   color: #fff;
// }
//
// label {
//   color: #fff;
// }

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
}

h2, h3, p, label, a {
  font-family: 'Open Sans', sans-serif;
}

p, a, label {
  font-size: 1em;
}

.code-text {
  font-family: 'Roboto Mono', monospace;
  word-wrap: break-word;
}
